@model User
@{
    Layout = "_Layout";
}

<section>
    <div class="Editcontainer">
        <form asp-action="EditAccount">
            @Html.HiddenFor(f => f.Id)
            Firstname <br />
            @Html.EditorFor(f => f.FirstName)<br />
            Lastname <br />
            @Html.EditorFor(f => f.LastName)<br />
            Email <br />
            @Html.EditorFor(f => f.Email)<br />
            Password <br />
            @Html.EditorFor(f => f.Password)<br />
            <input type="submit" value="Save" />
            <br/>
        </form>
        <form asp-action="Delete">
            @Html.HiddenFor(f => f.Id)
            <input type="submit" value="Delete" />
        </form>
    </div>
</section>
